name: js

on: [pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up node
      uses: actions/setup-node@v4
      with:
        node-version: '18'
    - name: Install grunt
      run: |
        npm install grunt-cli
        npm install grunt
        npm install grunt-contrib-qunit@^4.0.0
    - name: Run tests
      run: grunt test --verbose
